{% load static %}
{% include 'new1/header.html' %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Here</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'new1/css/contact.css' %}">
</head> 
{% block content %}
{% endblock %}
<br></br>
<br></br>


<div class="card">
  <img src="{% static 'new1/images/female.jpeg' %}" alt="Avatar" style="width:50%">
  <div class="container">
    <h4><b>Pratikshya (Taggie)</b></h4>
    <p>Web App Developer</p>
    <p>Co-Founder</p>
    <div class="links">
      <span>Social Links :</span>
      <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.github.com"><i class="fab fa-github"></i></a>
      <a href=""><i class="fab fa-viber"></i></a>
    </div>
    
  </div>
</div>

  <div class="card">
  	<img src="{% static 'new1/images/male1.jpeg' %}" alt="Avatar" style="width:50%">
  	<div class="container">
    	<h4><b>Sweekar (Kalu)</b></h4>
    	<p>Full Stack Web Application Developer.</p>
    	<p>Founder</p>
    	<div class="links">
    		<span>Social Links :</span>
      	<a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
      	<a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
      	<a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
      	<a href="https://www.github.com"><i class="fab fa-github"></i></a>
      	<a href=""><i class="fab fa-viber"></i></a>
    	</div>
  	</div>
	</div>
<br></br>
<br></br>

